{% extends 'admin/base_admin.html.twig' %}


{% block title %}Hello chart!{% endblock %}
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/admin/chart.css') }}">
        {% endblock %}
      
        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
{% block body %}
    <div class='my-chart' >
        {{ render_chart(chart) }}
    </div>
    <div class='my-chart' >
        {{ render_chart(chart2) }}
    
{% endblock %}