    
    <div class="form__container">
        {{ form_start(BuildingTicketForm, { attr: { class: "form_itTicket" }}) }}
        <h1>Soumettre un ticket</h1>
        <h2>Batiment</h2>
        

        <div class="form__name inline_row">
            <div class="field">
                {{ form_label(BuildingTicketForm.title, "Objet") }}
                {{ form_widget(BuildingTicketForm.title, { attr: { placeholder: "Objet du ticket" }}) }}
            </div>
            <div class="field">
                {{ form_label(BuildingTicketForm.description, "Description") }}
                {{ form_widget(BuildingTicketForm.description, { attr: { placeholder: "Description du probleme" }}) }}
            </div>
        </div>

        <div class="field">
            {{ form_label(BuildingTicketForm.Localisation, "Localisation") }}
            {{ form_widget(BuildingTicketForm.Localisation, { attr: { placeholder: "Lieu ou se trouve le probleme" }}) }}
        </div>

        <div class="field">
            {{ form_label(BuildingTicketForm.site, "site") }}
            {{ form_widget(BuildingTicketForm.site, { attr: { placeholder: "lieu precis ou se trouve le probleme" }}) }}
        </div>
        
      
    <div class="center">
    <button type="submit" class="btn">Envoyez le ticket</button>
        {{ form_end(BuildintTicketForm) }}
    </div>
    </div>
   
</body>
</html>